{% include "base.html" %}
<link rel="stylesheet" href="../../../static/css/cart.css">
<h3 style="text-align: center;margin-top: 1rem;margin-bottom: 1rem;">You cart <span style="font-size: smaller;font-weight: 300;">({{items|count}} items)</span> </h3>
<div class="cartContainer" >
    <div class="cartItems">
        {% for i in items%}
            <div class="item">
                <div class="prod_img">
                    <img src="/static/images/{{i['img_url']}}" alt="" >
                </div>
                <div class="desc">
                    <div class="prod_name">{{i['prod_name']|replace('_',' ')}}  <span style="font-size: smaller;font-weight: 400;">x{{i['quantity']}}</span> </div>
                    
                    <div class="prod_size"><span style="font-weight: 400;">Size: </span> {{i['size']}}</div>
                </div>
                
            </div>
        {%endfor%}
    </div>
</div>