{%  include "base.html" %}



<meta id='product_detail' data-pid={{product_id}} data-pname={{product_item.name|replace(" ","_")}} data-url={{title.lower()}}/{{product_item.img_url}} data-title={{title.lower()}}>
<div style="background-color: #F1F1F1;">
<div class="card m-5">
  <div class="row ">
    <aside class="col-sm-5 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap">
  <div> <a href="#"><img src="/static/images/{{title.lower()}}/{{product_item['img_url']}}"></a></div>
</div> <!-- slider-product.// -->
</article> <!-- gallery-wrap .end// -->
    </aside>
    <aside class="col-sm-7">
<article class="card-body p-5 tag" style="background-color: white;border:unset">
  <h2 class="title mb-0" style="font-family: 'Italiana';position: absolute;">{{product_item['name']}}</h2>


<dl class="item-property " style="margin-top: 4rem;">
  
  <dd style="font-weight: 200;"><p>{{product_item['description'] | safe}}</p></dd>
</dl>
<p class="price-detail-wrap" > 
  <span class="price "> 
    <span class="currency">Rs. </span><span class="num" >{{product_item['price']}}</span>
  </span> 

</p> <!-- price-detail-wrap .// -->

<hr>
  <div class="row">
    <div class="col-sm-6">
      <dl class="param param-inline">
        <dt style="font-weight: 400;margin-bottom: 0.5rem;">Quantity </dt>
        <dd>
          <select class="form-control form-control-sm" id='quantity' style="width:70px;border-radius: 0;">
            <option value='1'> 1 </option>
            <option value='2'> 2 </option>
            <option value='3'> 3 </option>
          </select>
        </dd>
      </dl>  <!-- item-property .// -->
    </div> <!-- col.// -->
    <div class="col-sm-6">
      <dl class="param param-inline">
          <dt style="font-weight: 400;margin-bottom: 0.5rem;">Size </dt>
          <dd>
            <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="sm">
            <span class="form-check-label">SM</span>
          </label>
          <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="md">
            <span class="form-check-label">MD</span>
          </label>
          <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="xxl">
            <span class="form-check-label">XXL</span>
          </label>
          </dd>
      </dl>  <!-- item-property .// -->
    </div> <!-- col.// -->
  </div> <!-- row.// -->
  <hr>
  <div href="" class="btn btn-lg text-uppercase checkoutBtns mr-3 blackBtns" id='buyNow'> Buy now </div>
  <div  class="btn btn-lg text-uppercase checkoutBtns" style="color: black;letter-spacing: 3px;font-size: small;font-weight: 300;border: 1px solid black;border-radius: 0px;" id='addToCart'> <i class="fas fa-shopping-cart" style="color:black" ></i> Add to cart </div>
</article> <!-- card-body.// -->
    </aside> <!-- col.// -->
  </div> <!-- row.// -->
</div> <!-- card.// -->


</div>
</div>

<script>
  document.getElementById('addToCart').addEventListener('click',function(e){
    let q=document.getElementById('quantity').value
    let size=document.querySelector("input[name=inlineRadioOptions]:checked").value
    let data={}
    data['size']=size;
    data['quantity']=q;
    data['prod_id']=document.querySelector('meta#product_detail').dataset.pid;
    data['prod_name']=document.querySelector('meta#product_detail').dataset.pname;
    data['img_url']=document.querySelector('meta#product_detail').dataset.url
    console.log(data)
    
    
    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: '/cart/add_to_cart',
      data: JSON.stringify(data),
      dataType: "json",
      complete:function(res){
        addNo(q)
      }
   });
    
  })
  document.getElementById('buyNow').addEventListener('click',function(e){
    let data=document.querySelector('meta#product_detail').dataset
    let q=document.getElementById('quantity').value
    let size=document.querySelector("input[name=inlineRadioOptions]:checked").value
    window.location=`/products/${data.title}_buy/one/${data.pid}/${q}/${size}`
    // $.ajax({
    //   type: "GET",
      
    //   url: `/products/${data.title}_buy/${data.pid}/${document.getElementById('quantity').value}/${document.querySelector("input[name=inlineRadioOptions]:checked").value}`
      
    // })
  })
</script>
