{% include "base.html" %}
<link rel="stylesheet" href="../../../static/css/newStyle.css">

<!-- ========================= SECTION INTRO ========================= -->
<section class="section-intro ">
<div >

<div class="intro-banner-wrap">
  <div style="width: 100%;">
    <h1 style="text-align: center;">A style for every story<span style="color:#fc947e">.</span></h1>
   

  </div>
  
  
  
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<section class="aboutUs">
  <div>
    <h3>About Us</h3>
    <div style="padding-left: 1rem;">
       We are an online clothing shop. We aim to deliver you top-notch quality products at it's earliest.
       Here at <span class="brand-wrap" style="letter-spacing: 2px;">Lush.</span> we try to make daily fashion comfortable while not compromising on the luxury feel. We believe one should never go out of style ! 
  </div>
</section>

<!-- ========================= SECTION FEATURE ========================= -->
<section class="section-content">
<div >
<article class="card card-body" style="background-color: black;color: white;border: none;border-radius: 0;padding-top: 2rem;padding-bottom: 2rem;">


<div class="row">
  <div class="col-md-4">  
    <figure class="item-feature">
      <span class="text-primary"><i class="fa fa-2x fa-truck" style="color:white;"></i></span>
      <figcaption class="pt-3">
        <h5 class="title">Fast delivery</h5>
        <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore </p>
      </figcaption>
    </figure> <!-- iconbox // -->
  </div><!-- col // -->
  <div class="col-md-4">
    <figure  class="item-feature">
      <span class="text-primary"><i class="fa fa-2x fa-landmark"></i></span>  
      <figcaption class="pt-3">
        <h5 class="title">Creative Strategy</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         </p>
      </figcaption>
    </figure> <!-- iconbox // -->
  </div><!-- col // -->
    <div class="col-md-4">
    <figure  class="item-feature">
      <span class="text-primary"><i class="fa fa-2x fa-lock"></i></span>
      <figcaption class="pt-3">
        <h5 class="title">High secured </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         </p>
      </figcaption>
    </figure> <!-- iconbox // -->
  </div> <!-- col // -->
</div>
</article>

</div> <!-- container .//  -->
</section>

<section class="section-content">
<div class="container">
















<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg">
  <div class="container">
    
    <section class="footer-bottom row">
      <div class="col-md-2">
        <p class="text-muted"> &copy 2021 e-Bazar </p>
      </div>
      <div class="col-md-8 text-md-center">
        <span  class="px-2">e-bazar@pixsellz.io</span>
        <span  class="px-2">+91 9119488530</span>
        <span  class="px-2">Street name 123, Mumbai</span>
      </div>
      <div class="col-md-2 text-md-right text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
    </section>
  </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->


</body>
</html>